<section class="s-block s-block--slider-with-bg s-block--full-bg relative overflow-hidden">
    <div class="h-full w-full relative">
        <img class="advanced-image w-full object-cover object-center lazy h-full" src="" data-src="{{ component.background_image }}" loading="lazy" height="950" width="1920" alt="{{ store.name }} image-slider-{{ index }}">
    </div>
<div class="hotspot-container absolute top-0 left-0 w-full h-0 pt-[calc(100%/1.627906976744186)]">
    {% for item in component.hotspot_one %}
    <div class="hotspot hotspot-{{ loop.index }} hotspot--outer-pulse hotspot--on-right cc-animate-init cc-animate-in !absolute top-[var(--data-hotspot-top)] left-[var(--data-hotspot-left)] transform-[translate(-50%,-50%)]"data-cc-animate="" data-cc-animate-delay="0.3s" style="animation-delay: 0.3s; --data-hotspot-top:{{item.section_top}}%; --data-hotspot-left:{{item.section_left}}%;">
        <button type="button" class="hotspot__btn hotspot__btn--number relative tap-target no-js-hidden bg-darker text-white rounded-full w-10 h-10" aria-expanded="false">
            <span class="hotspot__btn-number">{{ loop.index }}</span>
        </button>
        <div class="hotspot__card no-js-hidden has-motion" aria-hidden="true">
            <div class="whole-set-wrapper">
                <salla-products-list minimal {% if item.products|length %} source="selected" source-value="[{{ item.products[0] }}]"{% endif %} slider-id="slider-with-bg-{{ loop.index }}"class="[&_.s-products-list-vertical-cards]:!grid-cols-1 [&_.s-products-list-vertical-cards]:!m-0">
                </salla-products-list>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for item in component.hotspot_two %}
    <div class="hotspot hotspot-{{ loop.index + 1 }} hotspot--outer-pulse hotspot--on-right cc-animate-init cc-animate-in !absolute top-[var(--data-hotspot-top)] left-[var(--data-hotspot-left)] transform-[translate(-50%,-50%)]"data-cc-animate="" data-cc-animate-delay="0.3s" style="animation-delay: 0.3s; --data-hotspot-top:{{item.section_top}}%; --data-hotspot-left:{{item.section_left}}%;">
        <button type="button" class="hotspot__btn hotspot__btn--number relative tap-target no-js-hidden bg-darker text-white rounded-full w-10 h-10" aria-expanded="false">
            <span class="hotspot__btn-number">{{ loop.index + 1 }}</span>
        </button>
        <div class="hotspot__card no-js-hidden has-motion" aria-hidden="true">
            <div class="whole-set-wrapper">
                <salla-products-list minimal {% if item.products|length %} source="selected" source-value="[{{ item.products[0] }}]"{% endif %} slider-id="slider-with-bg-{{ loop.index }}"class="[&_.s-products-list-vertical-cards]:!grid-cols-1 [&_.s-products-list-vertical-cards]:!m-0">
                </salla-products-list>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</section>
