<section id="instagram-{{ position }}" class="s-block s-block--instagram px-3 lg:px-12 my-5 lg:my-10 overflow-hidden">
  <div class="pb-4 md:pb-8 text-center">
      <h2 class="text-sm md:text-xl font-bold">{{ component.instagram_title }}</h2>
  </div>







<salla-slider type="carousel" class="instagram-slider" show-controls="false" id="photos-{{ position }}-instagram">
  <div slot="items">
    {% for banner in component.instagram %}
      <div class="swiper-slide w-[calc(100%/2)] md:w-[calc(100%/4)] lg:w-[calc(100%/5)] xl:w-[calc(100%/6)]">
        <a href="javascript:void(0);" class="open-video-popup block w-full cursor-pointer" data-index="{{ loop.index0 }}">
          <div class="aspect-[9/16] relative rounded-xl overflow-hidden">
            <i class="sicon-play absolute left-3 top-3 text-white text-2xl z-10"></i>
            <div class="lazy lazy__bg !relative" data-bg="{{ banner.image }}" loading="lazy"></div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</salla-slider>
<div id="video-popup" class="hidden fixed inset-0 bg-white z-[9999] overflow-y-auto " dir="ltr">
  <div id="video-list" class="flex flex-col items-center gap-16 py-12">
    {% for banner in component.instagram %}
      <div class="video-section relative w-screen md:w-[90vw] max-w-[400px] aspect-[9/16] h-svh">
        <div class="relative w-full h-full overflow-hidden rounded-xl">
        <span class="text-white text-base z-10 absolute left-3 top-4" id="owner-{{ loop.index0 }}">{{ banner.video_owner }}</span>
        <video class="story-video w-full h-svh object-cover" muted playsinline preload="none" controls data-src="{{ banner.slider_bg_video }}" data-index="{{ loop.index0 }}"></video>
        <button class="close-video absolute top-2 right-2 z-50">
          <svg class="cursor-pointer" width="25px" height="25px" viewBox="0 0 48 48" data-name="Layer 1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" fill="#ffffff" stroke="#ffffff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <defs>
                <style>
                    .cls-1 {
                        fill: none;
                        stroke: #ffffff;
                        stroke-linecap: round;
                        stroke-linejoin: round;
                        stroke-width: 2px;
                    }
                </style>
            </defs>
            <circle class="cls-1" cx="24" cy="24" r="23"></circle>
            <line class="cls-1" x1="12" x2="36" y1="12" y2="36"></line>
            <line class="cls-1" x1="12" x2="36" y1="36" y2="12"></line>
          </g>
          </svg>
        </button>
        </div>
        {% if banner.products and banner.products[0] %}
          <salla-products-list minimal source="selected" source-value="[{{ banner.products[0] }}]" class="[&_.s-products-list-vertical-cards]:!grid-cols-1 [&_.s-products-list-vertical-cards]:!m-0 absolute bottom-20 w-4/5 right-0"></salla-products-list>
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>
</section>
<style>
    .fslightbox-source{display: block !important;}
</style>
