<section class="s-block s-block--instagram container">
    <div class="pb-4 md:pb-8 border-b border-darker/20 mb-3 md:mb-4 flex justify-between md:justify-start gap-3">
        <h2 class="uppercase text-sm md:text-base font-bold">{{ component.instagram_title }}</h2>
        <a href="{{ component.instagram_url }}" aria-label="{{ component.instagram_title }}" class="uppercase hover:underline relative text-xs md:text-sm">
            {{ component.instagram_btn }}
        </a>
    </div>

    {% if component.instagram is not empty %}
    <div class="grid grid-cols-5 grid-flow-row gap-2 sm:gap-6" slot="items">
        {% for banner in component.instagram %}
        <a data-fslightbox="{{ component.position }}" data-img-id="video-{{ loop.index | default(0) }}"
           data-slid-index="{{ loop.index - 1 }}"
           data-caption="{{ banner.image.alt | default('Instagram Video') }}"
           data-video-src="{{ banner.slider_bg_video }}?raw=true"
           data-infinite="true" data-type="youtube"
           href="#video-{{ loop.index | default(0) }}"
           aria-label="{{ banner.name | default('Instagram Video') }}"
           class="swiper-slide magnify-wrapper model-entry group instagram-play">
            <i class="sicon-play text-white text-2xl z-1 absolute left-3 top-3"></i>
            <img loading="lazy" src="{{ banner.image | default('fallback.jpg') }}"
                 data-src="{{ banner.image }}"
                 alt="{{ banner.image.alt | default('Instagram Video') }}"
                 class="lazy w-full h-full object-cover">
        </a>

        <div id="video-{{ loop.index | default(0) }}" class="relative hidden">
            <video playsinline width="400" autoplay="autoplay" muted="muted" controls loop class="w-full h-auto object-cover object-center lazy autoplay-video">
                <source src="{{ banner.slider_bg_video | default('') }}?raw=true" data-src="{{ banner.slider_bg_video }}?raw=true" type="video/mp4">
                <source src="{{ banner.slider_bg_video | default('') }}?raw=true" data-src="{{ banner.slider_bg_video }}?raw=true" type="video/ogg">
                <source src="{{ banner.slider_bg_video | default('') }}?raw=true" data-src="{{ banner.slider_bg_video }}?raw=true" type="video/avi">
                <source src="{{ banner.slider_bg_video | default('') }}?raw=true" data-src="{{ banner.slider_bg_video }}?raw=true" type="video/webm">
                <track src="captions_en.vtt" kind="captions" srclang="en" label="English captions">
                <track src="captions_es.vtt" kind="captions" srclang="es" label="Spanish captions">
            </video>


          <salla-products-list minimal
            {% if banner.products|length %}
              source="selected"
              source-value="[{{ banner.products[0]}}]"
            {% endif %}
            slider-id="slider-with-bg-{{ position }}" class="[&_.s-products-list-vertical-cards]:!grid-cols-1 [&_.s-products-list-vertical-cards]:!m-0 absolute bottom-20 w-4/5"
        ></salla-products-list>
    </div>
    {% endfor %}
    {% else %}
    <p class="text-center text-gray-500">لا توجد فيديوهات متاحة حاليًا.</p>
    {% endif %}
</section>
<style>
    .fslightbox-source{display: block !important;}
</style>
