{% set time = component.image_time %}
{% set speed = component.speed_animation %}
{% set dir = user.language.dir %}
<section id="home-main-slider-{{ position }}" class="{{component.distance_container ? ' ' : 's-block'}} home-main-slider {{ is_repeated ? 'repeated-block' : '' }} aspect-[1.0] lg:aspect-[2.0]" style="--data-margin-lg:{{component.higher_distance}}px;">
  <div class="{{component.full_container ? ' ' : 'container'}} h-full">
  <salla-slider type="fullwidth" slider-config="{&quot;effect&quot;: &quot;{{component.influence}}&quot;,&quot;slidesPerView&quot;:1,&quot;speed&quot;:{{speed ? speed: '2'}}000,{% if component.main_slider|length > 1 %}&quot;autoplay&quot;: {&quot;delay&quot;:{{time ? time: '5'}}000},{% endif %}&quot;allowTouchMove&quot;: false}" class="slider-h-advanced main-slider h-full [&_.swiper]:!h-full [&_.swiper-pagination]:!flex [&_.swiper-pagination]:justify-center [&_.swiper-pagination]:items-center [&_.swiper-pagination-bullets]:!bottom-4 [&_.swiper-slide-active]:z-2" auto-play id="main-{{ position }}-slider" {% if component.hidden_arrw %} show-controls="false" {% else %} show-controls="true"{% endif %} {{component.hidden_bullets ? ' ' : 'pagination'}}>
    <div slot="items">
      {% for item in component.main_slider %}
        <div class="swiper-slide !w-full !h-full transition-all duration-[2s] bg-[var(--store-background)]">
          <a href="{{item.url}}">
              {% if item.viwe_type == 'viwe_photo' %}
                {% set image_src = item.alsort %}
                {% set image_src_mob = item.alsort_mob %}
                {% if dir == 'ltr' and item.alsort_en != '' %}
                    {% set image_src = item.alsort_en %}
                {% endif %}
                {% if dir == 'ltr' and item.alsort_en_mob != '' %}
                    {% set image_src_mob = item.alsort_en_mob %}
                {% endif %}
                {% if dir == 'rtl' and item.alsort == '' %}
                    {% set image_src = item.alsort_en %}
                {% endif %}
                {% if dir == 'rtl' and item.alsort == '' %}
                    {% set image_src_mob = item.alsort_mob %}
                {% endif %}
                <div class="lazy lazy__bg !relative hidden md:flex" data-bg="{{ image_src }}" loading="lazy" ></div>
                <div class="lazy lazy__bg !relative flex md:hidden" data-bg="{{ image_src_mob }}" loading="lazy" ></div>
              {% endif %}
              {% if item.viwe_type == 'viwe_youtube' %}
              <div class="slider relative w-full h-full overflow-hidden">
              <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; overflow: hidden;"></div>
              {% set video_url = item.youtube_url %}
              {% set video_id = video_url | split('v=')[1] %}
              {% set embed_url = 'https://www.youtube.com/embed/' ~ video_id ~ '?autoplay=1&loop=1&mute=1&controls=0&playlist=' ~ video_id %}
                <div class="video-container scale-105 relative" style=" width: 100%; height: 100%; z-index: -1; overflow: hidden;">
                <iframe src="{{ embed_url }}" frameborder="0" allow="autoplay; loop; fullscreen" allowfullscreen style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;" class="youtube-video scale-y-[3.4] scale-x-150 md:scale-150">
                </iframe>
                </div>
                </div>
              {% endif %}
            </a>
        </div>
      {% endfor %}
    </div>
  </salla-slider>
  </div>
</section>


<style>
  #home-main-slider-{{ position }} .swiper-pagination-bullet-active svg circle {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: fillCircle {{time}}s linear forwards;
  }
</style>
