<section id="rectangular-images-{{ position }}" class="s-block s-block--rectangular-images px-3 lg:px-12 my-5 lg:my-10 overflow-hidden">
  <div class="pb-4 md:pb-8 text-center">
      <h2 class="text-sm md:text-xl font-bold">{{ component.rectangular_title }}</h2>
  </div>
  <salla-slider type="carousel" class="rectangular-slider" show-controls="false" id="photos-{{ position }}-rectangular">
    <div slot="items">
      {% for item in component.rectangular %}
      <div class="swiper-slide w-[calc(100%/2)] md:w-[calc(100%/4)] lg:w-[calc(100%/5)] xl:w-[calc(100%/6.5)]">
        <a href="{{item.url}}">
          {% if item.video_owner %}
          <span class="bg-darker text-white text-sm z-1 absolute rtl:right-3 ltr:left-3 bottom-8 p-2 rtl:rounded-tl-2xl ltr:rounded-tr-2xl rtl:rounded-bl-2xl ltr:rounded-br-2xl">{{item.video_owner}}</span>
          {% endif %}
          <img loading="lazy" src=" " data-src="{{ item.image }}" alt="{{ item.image.alt | default('rectangular Video') }}" class="lazy w-full h-[300px] lg:h-100 object-cover rounded-xl max-h-100 object-top">
        </a>
      </div>
      {% endfor %}
    </div>
  </salla-slider>
</section>
