{#
| Variable              | Type                  | Description                                                                  |
|-----------------------|-----------------------|------------------------------------------------------------------------------|
| component             | object                | Contains merchant settings for fields from twilight.json `component` section |
| component.background  | string                |                                                                              |
| component.title       | ?string               |                                                                              |
| component.description | ?string               |                                                                              |
| component.products    | Product[] *Collection | @see views/pages/product.twig                                                |
| position              | int                   | Sorting number start from zero                                               |
#}
<section class="s-block s-block--slider-with-bg s-block--full-bg">
    <div class="slider-bg" style="background-image: url('{{ component.background }}');">
        <div class="container pt-8 sm:pt-20 relative">
            <div>
                <h3 class="text-lg font-bold leading-12">
                    {{ component.title }}
                </h3>
                <p class="text-sm mb-8 line-clamp-2 max-w-lg">
                    {{ component.description }}
                </p>
            </div>
        </div>
    </div>

    {% set display_all = component.display_all_url  %}
    <div class="container -mt-62 relative overflow-hidden">
        <salla-products-slider
            {% if component.products|length %}
              source="selected"
              source-value="[{{ component.products|map((product) => product.id)|join(',') }}]"
            {% endif %}
            {% if display_all != '' and  display_all != '#' %}
                display-all-url="{{display_all}}"
            {% endif %}
            block-title=" "
            slider-id="slider-with-bg-{{ position }}"
        ></salla-products-slider>
<div class="instagram-slider-data px-7">
<salla-slider type="fullwidth" class="instagram-slider xl:w-[calc(100%/6)] [&_.swiper]:!overflow-visible my-6" loop id="photos-{{ position }}-instagram" slider-config="{&quot;effect&quot;:&quot;cards&quot;,&quot;slidesPerView&quot;:1, &quot;allowTouchMove&quot;: true,&quot;grabCursor&quot:true}">
    <div slot="items">
      {% for product in component.products %}
      <div class="swiper-slide w-[calc(100%/2)] md:w-[calc(100%/4)] lg:w-[calc(100%/5)] xl:w-[calc(100%/6)] p-3 bg-white">
        <custom-salla-product-card product="{{product}}" noImage class="[&_.s-product-card-image]:md:!h-32 [&_.s-product-card-image]:lg:!h-52"></custom-salla-product-card>
      </div>
      {% endfor %}
    </div>
  </salla-slider>

</div>
    </div>
</section>

