{% set dir = user.language.dir %}
<section class="s-block s-block--binary-banner aleena-block-animate {{ component.wide_margin ?'!my-0':''}}">
    <div class="aleena-anime-item">
      {% for slide in component.wide_banner %}
        <a href="{{ slide.url }}" class="binary-banner aleena-anime-item" aria-label="Banner {{ image.alt }}">
          {% if dir =='rtl' %}
            <div class="w-full h-full overflow-hidden aspect-[16/9]">
              <div class="lazy lazy__bg !relative" data-bg="{{ slide.image }}" loading="lazy" ></div>
            </div>
          {% else %}
            <div class="w-full h-full overflow-hidden aspect-[16/9]">
              <div class="lazy lazy__bg !relative" data-bg="{{ slide.image_en }}" loading="lazy" ></div>
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
</section>
