{# {% if is_page('product.single') %} #}
<section class="s-block s-block--binary-banner aleena-block-animate {{ component.binary_margin ?'!my-0':''}}">
    <div class="grid grid-cols-2">
      {% for slide in component.tab_categories %}
        <a href="{{ slide.url }}" class="binary-banner aleena-anime-item" aria-label="Banner {{ image.alt }}">
          {% if dir =='rtl' %}
            <img width="980" height="1470" src=" " data-src="{{ slide.image_tab }}" loading="lazy" class="lazy aleena-anime-item w-full h-full" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/>
          {% else %}
            <img width="980" height="1470" src=" " data-src="{{ slide.image_tab }}" loading="lazy aleena-anime-item w-full h-full" class="lazy" alt="{{ image.alt|trim ? image.alt : 'fixed banner' }}"/>
          {% endif %}
        </a>
      {% endfor %}
    </div>
</section>
{# {% endif %} #}
