{% set component_id='return_sar_theworld' ~ position %}
{% set return_sar = theme.settings.get('return_sar') %}
{% set branches = theme.settings.get('return_sar_branches') %}
{% set sar_points = theme.settings.get('return_sar_points') %}
{% set sar_description = theme.settings.get('return_sar_description') %}
{# theworld #}
{% set return_theworld = theme.settings.get('return_theworld') %}
{% set theworld_branches = theme.settings.get('return_theworld_branches') %}
{% set theworld_points = theme.settings.get('return_theworld_points') %}
{% set theworld_description = theme.settings.get('return_theworld_description') %}

{% if is_select_branches %}
{% if return_sar or return_theworld %}
<div class="s-block-select flex items-center gap-3 rounded bg-white p-3 w-full">
      <svg width="35" height="35" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M11.8621 10.8182C11.8621 12.0232 10.8123 13 9.51724 13C8.22223 13 7.17241 12.0232 7.17241 10.8182M11.8621 10.8182C11.8621 9.6132 10.8123 8.63636 9.51724 8.63636C8.22223 8.63636 7.17241 9.6132 7.17241 10.8182M11.8621 10.8182H17.1379M7.17241 10.8182H6V2C6 1.44772 6.44772 1 7 1H17.1379V10.8182M22.4138 10.8182C22.4138 12.0232 21.364 13 20.069 13C18.774 13 17.7241 12.0232 17.7241 10.8182M22.4138 10.8182C22.4138 9.6132 21.364 8.63636 20.069 8.63636C18.774 8.63636 17.7241 9.6132 17.7241 10.8182M22.4138 10.8182H23V6.45455L20.069 3.72727H17.1379V10.8182M17.7241 10.8182H17.1379" stroke="black" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"></path>
      <line x1="6" y1="4.65" x2="-5.68248e-08" y2="4.65" stroke="black" stroke-width="1.3"></line>
      <line x1="6" y1="7.65" x2="1" y2="7.65" stroke="black" stroke-width="1.3"></line>
    </svg>
    <div class="select-wrapper w-3/4">
        {% if return_sar %}
        {% for item in branches %}
            {% set item_description = item.branches_description %}
            {% if item_description is iterable %}
                {% set item_description = item_description[user.language.code] | default(item_description | first) %}
            {% endif %}
            <div id="tab-{{ loop.index }}" class="select__item text-sm {{ loop.first ? 'is-active' : '' }}">{{ item_description }}
            </div>
        {% endfor %}
        {% endif %}
        {% if return_theworld %}
            {% for item in theworld_branches %}
                {% set theworld_description = item.return_theworld_description %}
                {% if theworld_description is iterable %}
                    {% set theworld_description = theworld_description[user.language.code] | default(theworld_description | first) %}
                {% endif %}
                <div id="tab-{{ loop.index + branches|length }}" class="select__item text-sm">
                    {{ theworld_description }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <select id="select-branches" class="p-2 rounded-2xl min-w-32 !shadow-none focus:!shadow-none focus:!ring-0 text-sm">
        {% if return_sar %}
        {% for item in branches %}
            {% set item_title = item.branches_title %}
            {% if item_title is iterable %}
                {% set item_title = item_title[user.language.code] | default(item_title | first) %}
            {% endif %}
            <option value="tab-{{ loop.index }}" {{ loop.first ? 'selected' : '' }}>{{ item_title }}</option>
        {% endfor %}
        {% endif %}
        {% for item in theworld_branches %}
            {% set theworld_title = item.return_theworld_branches_title %}
            {% if theworld_title is iterable %}
                {% set theworld_title = theworld_title[user.language.code] | default(theworld_title | first) %}
            {% endif %}
            {% if return_theworld %}<option value="tab-{{ loop.index + branches|length }}">{{ theworld_title }}</option>{% endif %}
        {% endfor %}
    </select>
</div>
{% endif %}
{% else %}
{% if return_sar or return_theworld %}
<div class="border-b border-darker">
   <div class="accordion cursor-pointer group">
      <span class="accordion-title flex justify-start items-center gap-4 py-3">
          <i class="sicon-minus icone"></i>
          {{ trans('blocks.product.exchangeReturn') }}
      </span>
  </div>
  <div class="panel overflow-hidden transition-all duration-700 mb-1 max-h-0">
    <div class="s-block-tabs my-5" id="{{ component_id }}">

      <div class="tabs hide-scroll">
          {% if return_sar %}
          <salla-button class="tab-trigger is-active" data-target="return_sar_data" data-component-id="{{ component_id }}"fill="outline">{{ trans('blocks.product.returnSar') }}</salla-button>
          {% endif %}
          {% if return_theworld %}
          <salla-button class="tab-trigger {{return_sar ? '' :'is-active' }}" data-target="return_theworld_data" data-component-id="{{ component_id }}" fill="outline">{{ trans('blocks.product.returnTheworld') }}</salla-button>
          {% endif %}
      </div>

      <div class="tabs-wrapper py-4">
        {% if return_sar %}
            <div id="return_sar_data" class="tabs__item is-active">
                 <ul class="data_list mb-4" style="margin-inline-start: 2em;">
              {% for point in sar_points %}
                {% set points_title = point.points_title %}
                {% if points_title is iterable %}
                    {% set points_title = points_title[user.language.code] | default(points_title | first) %}
                {% endif %}
                <li>{{points_title}}</li>
              {% endfor %}
              </ul>
                {% if sar_description is iterable %}
                {% set sar_description = sar_description[user.language.code] | default(sar_description | first) %}
                {% endif %}
              {% if sar_description %}
                <p class="mb-4">{{sar_description}}</p>
              {% endif %}
              <div class="table-container">
                <table class="table text-[12px]">
                    <tbody>
                    {% for item in branches %}
                        {% set item_title = item.branches_title %}
                        {% if item_title is iterable %}
                            {% set item_title = item_title[user.language.code] | default(item_title | first) %}
                        {% endif %}
                        {% set item_description = item.branches_description %}
                        {% if item_description is iterable %}
                        {% set item_description = item_description[user.language.code] | default(item_description | first) %}
                        {% endif %}
                        <tr>
                            <th class="font-bold">{{ item_title }}</th>
                            <td>{{ item_description }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        {% endif %}

        {% if return_theworld %}
            <div id="return_theworld_data" class="tabs__item {{return_sar ? '' :'is-active' }}">
              <ul class="data_list mb-4" style="margin-inline-start: 2em;">
              {% for point in theworld_points %}
                {% set pointtheworld_title = point.return_theworld_title %}
                {% if pointtheworld_title is iterable %}
                    {% set pointtheworld_title = pointtheworld_title[user.language.code] | default(pointtheworld_title | first) %}
                {% endif %}
                <li>{{pointtheworld_title}}</li>
              {% endfor %}
              </ul>
                {% if theworld_description is iterable %}
                    {% set theworld_description = theworld_description[user.language.code] | default(theworld_description | first) %}
                {% endif %}
              {% if theworld_description %}
                <p class="mb-4">{{theworld_description}}</p>
              {% endif %}
              <div class="table-container">
                  <table class="table text-[12px]">
                      <tbody>
                        {% for item in theworld_branches %}
                          {% set theworld_title = item.return_theworld_branches_title %}
                          {% if theworld_title is iterable %}
                          {% set theworld_title = theworld_title[user.language.code] | default(theworld_title | first) %}
                          {% endif %}
                          {% set theworld_description = item.return_theworld_description %}
                          {% if theworld_description is iterable %}
                          {% set theworld_description = theworld_description[user.language.code] | default(theworld_description | first) %}
                          {% endif %}
                          <tr>
                              <th class="font-bold">{{ theworld_title }}</th>
                              <td>{{ theworld_description }}</td>
                          </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}



<style>
  .table-container {
    width: 100%;
    overflow-x: auto; /* يسمح بتمرير الجدول أفقياً على الجوال */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    min-width: 400px; /* يضمن أن الجدول لا ينكمش تمامًا */
}

.table td ,.table tr ,.table th{
    border: 1px inset #be7f7f;
    border-collapse: collapse;
    border-spacing: 0;
}

.table-container th {
    width: 30%;
}
.table-container th,.table-container td{
  padding: .7em;
}
.table-container tr:hover {
    background-color: rgb(235, 235, 235);
}
.data_list li::marker {
    color: #be7f7f;
}
.data_list li {
    list-style: disc outside;
}
::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: auto !important;
}
</style>
