{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
<header class="store-header">
  <div id="mainnav" class="main-nav-container shadow-default bg-white px-4 md:px-12">
      <div class="inner bg-inherit">
          <div class="">
              <div class="flex items-stretch justify-between relative">
                  <div class="flex items-center logo-area__left flex-1">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="sicon-menu text-primary text-2xl"></i>
                      </a>
                      <custom-main-menu class="block lg:hidden"></custom-main-menu>
                      <div class="hidden xl:flex">{% include 'components.header.header_catlink'%}</div>
                      <button onclick="salla.event.dispatch('search::open')" class="hidden lg:flex xl:hidden gap-2 search-btn w-auto justify-end after:text-xl after:font-['sallaicons'] after:content-['\ef09'] z-1" title="search" aria-label="search"><span class="uppercase">{{ trans('blocks.header.search') }}</span></button>
                  </div>
                  <div class="logo-area__middle mx-4 flex items-center">
                      <a class="navbar-brand py-4" href="{{ store.url }}">
                          <img fetchpriority="high" width="452" height="133" loading="lazy" class="lazy !w-20" src="" data-src="{{ store.logo }}" alt="{{ store.name }} logo">
                          {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                          {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                          {% endif %}
                      </a>
                  </div>
                  <div class="flex items-center justify-end logo-area__right flex-1 gap-4">
                      {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                      {% else %}
                          <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                          <span class="hidden md:flex">{{ trans('blocks.header.account') }}</span>
                          <i class="sicon-user flex md:hidden text-xl text-darker"></i>
                          </button>
                      {% endif %}
                        <button onclick="salla.event.dispatch('search::open')" class="hidden xl:flex gap-2 search-btn w-auto justify-end after:text-xl after:font-['sallaicons'] after:content-['\ef09'] z-1" title="search" aria-label="search"><span class="uppercase">{{ trans('blocks.header.search') }}</span></button>
                        {% if is_page('cart') %}
                        {% else %}
                        <button class="relative items-center gap-2 flex" onclick="document.querySelector('.neyam-cart-aside').classList.add('show')">
                        <span class="hidden md:flex">{{ trans('blocks.header.cart') }}</span>
                        <salla-cart-summary class="relative pointer-events-none [&_.s-cart-summary-content]:!hidden [&_#s-cart-icon]:!hidden [&_.s-cart-summary-wrapper]:absolute [&_.s-cart-summary-wrapper]:-top-1 [&_.s-cart-summary-wrapper]:left-1 [&_.s-cart-summary-count]:bg-darker ">
                          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" focusable="false" role="presentation"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-width="1.5"><path d="M2 9.25h20l-4 12H6z"></path><path stroke-linecap="square" d="M12 9V3"></path></g></svg>
                        </salla-cart-summary>
                      </button>
                      {% endif %}
                  </div>
              </div>
            <div class="hidden lg:flex xl:hidden justify-center border-t border-darker">{% include 'components.header.header_catlink'%}</div>
            <div class="header-search flex md:hidden border-t border-darker relative py-2">
                <salla-search inline height="36" class="w-full z-0 [&_input]:!border-darker [&_svg]:fill-darker [&_input]:placeholder:!border-darker"></salla-search>
                <button onclick="salla.event.dispatch('search::open')" class="flex absolute w-full h-full bg-transparent z-1" title="search" aria-label="search"></button>
            </div>
          </div>
      </div>
  </div>
  {% include 'components.header.header_feature'%}
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
