{% set newsletter = theme.settings.get('footer_show_newsletter') %}
{% set newsletter_action = theme.settings.get('footer_newsletter_form_action') %}
{% set customer = theme.settings.get('customer_service_on') %}
{% set customer_title = theme.settings.get('customer_title') %}
{% set customer_points = theme.settings.get('customer_points') %}




{% set commercial = theme.settings.get('commercial_register_on') %}
{% set newsletter_is_active = newsletter and newsletter_action %}
<footer class="store-footer">
	<div aria-label="footer" class="store-footer__inner">
		<div class="container grid grid-col-1 lg:grid-cols-6 lg:gap-6">
			<div class="lg:col-span-2 rtl:lg:pl-20 ltr:lg:pr-20">
          {% if newsletter_is_active %}
            <div class="newsletter-block md:py-6 z-1 footer-b-after">
                <div class="newsletter-block__inner flex-col gap-3 hidden md:flex">
                    <div><h2 class="font-medium text-xs md:text-xl mb-4">{{ theme.settings.get('newsletter_title') }} </h2>
                    <p class="text-xs md:text-sm mb-2.5 lg:mb-3.5 font-medium"> {{ trans('blocks.common.cancelAtAnyTime') }} </p></div>
                    <form action="{{ newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="w-full validate ">
                      <div class="flex flex-col w-full justify-center gap-4">
                        <input type="email" value="" name="EMAIL" class="required email form-input !bg-transparent border !h-[50px] w-full md:rtl:ml-2.5 mx-0 md:ltr:mr-2.5 p-4 text-sm mb-2.5 md:mb-0 !rounded-none placeholder:text-[16px]" placeholder="{{ trans('common.elements.email') }}" required name="email" />
                        <salla-button type="submit" loader-position="center" class="!h-[50px]">
                          <span class="btn__text">{{trans('blocks.common.subscribeNow')}}</span>
                        </salla-button>
                      </div>
                      <div id="mce-responses" class="clear foot relative text-center">
                        <div class="response text-red-400 mt-2 text-sm" id="mce-error-response" style="display:none"></div>
                        <div class="response mt-2 text-sm text-[var(--footer-color)] dark:text-[var(--footer-color-dark)]" id="mce-success-response" style="display:none"></div>
                      </div>
                    </form>
                </div>
              <div class="block md:hidden">
                  <div class="accordion cursor-pointer group">
                      <span class="accordion-title flex justify-start items-center gap-4 py-3">
                          <i class="sicon-add icone"></i>
                          <strong class="block text-base">{{ theme.settings.get('newsletter_title') }}</strong>
                      </span>
                  </div>
                  <div class="panel overflow-hidden transition-all duration-700 mb-1 max-h-0">
                        <p class="text-xs md:text-sm mb-2.5 lg:mb-3.5 font-medium p-3"> {{ trans('blocks.common.cancelAtAnyTime') }} </p>
                        <form action="{{ newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="w-full validate p-3">
                          <div class="flex flex-col w-full justify-center gap-4">
                            <input type="email" value="" name="EMAIL" class="required email form-input !bg-transparent border !h-[50px] w-full md:rtl:ml-2.5 mx-0 md:ltr:mr-2.5 p-4 text-sm mb-2.5 md:mb-0 !rounded-none placeholder:text-[16px]" placeholder="{{ trans('common.elements.email') }}" required name="email" />
                            <salla-button type="submit" loader-position="center" class="!h-[50px]">
                              <span class="btn__text">{{trans('blocks.common.subscribeNow')}}</span>
                            </salla-button>
                          </div>
                          <div id="mce-responses" class="clear foot relative text-center">
                            <div class="response text-red-400 mt-2 text-sm" id="mce-error-response" style="display:none"></div>
                            <div class="response mt-2 text-sm text-[var(--footer-color)] dark:text-[var(--footer-color-dark)]" id="mce-success-response" style="display:none"></div>
                          </div>
                        </form>
                  </div>
              </div>
            </div>
          {% endif %}
        </div>
			<div>
        {% component 'footer.menu' %}
			</div>

			<div>


        {% if user.type == 'user' %}{# Account Links #}
          <div class="mb-2.5 text-center md:rtl:text-right md:ltr:text-left items-center md:items-start justify-center md:justify-start flex-col hidden md:flex">
            <strong class="footer-title mb-4 block font-bold text-[22px] text-[var(--footer-color)] dark:text-[var(--footer-color-dark)]">{{ trans('common.titles.profile') }}</strong>
            <salla-user-menu inline class="relative footer-user-menu !w-full"></salla-user-menu>
          </div>
          <div class="block md:hidden">
              <div class="accordion cursor-pointer group">
                  <span class="accordion-title flex justify-start items-center gap-4 py-3">
                      <i class="sicon-add icone"></i>
                      <strong class="block text-base">{{ trans('common.titles.profile') }}</strong>
                  </span>
              </div>
              <div class="panel overflow-hidden transition-all duration-700 mb-1 max-h-0">
                  <salla-user-menu inline class="relative footer-user-menu !w-full"></salla-user-menu>
              </div>
          </div>
          {% else %}
          <button class="header-btn mb-2.5" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
          <strong class="flex text-base">{{ trans('blocks.header.account') }}</strong>
          <i class="sicon-user flex md:hidden text-xl text-darker"></i>
          </button>
          {% endif %}
          {% component 'footer.menu' with {learn:true} %}
			</div>
      <div>
        {% if customer or commercial %}
        <h3>{{customer_title}}</h3>
        <ul>

<ul>
    {% for point in customer_points %}
        <li>{{ point.point_title}}</li>
    {% endfor %}
</ul>

        </ul>

        {% endif %}


      </div>
			<salla-apps-icons class="lg:col-span-2 rtl:lg:pr-20 ltr:lg:pl-20"></salla-apps-icons>
		</div>
	</div>

	<div class="md:flex items-center justify-between py-4 container text-center">
		<span class="text-sm copyright-text">{% hook copyright %}</span>
		<salla-payments></salla-payments>
	</div>
</div>

<span class="hidden bottom-2 rtl:pl-24 ltr:pr-24 md:grid-cols-3 opacity-40"></span></footer>

<div class="hidden">
  <custom-navigation-cart></custom-navigation-cart>
</div>




<aside class="neyam-cart-aside fixed top-0 rtl:right-0 ltr:left-0 h-screen w-full md:w-[34rem] bg-white shadow-lg transform rtl:translate-x-full ltr:-translate-x-full transition-transform duration-300 z-[70] group">
  <div class="fixed close-cart-button opacity-0 group-[.show]:opacity-100 group-[.show]:w-screen group-[.show]:h-screen group-[.show]:rtl:right-[34rem] group-[.show]:ltr:left-[34rem] bg-black/60 -z-1"></div>
  <div class="flex flex-col h-full">
    {# Header #}
    <div class="flex items-center justify-between p-4 border-b">
      <h3 class="text-lg font-bold">{{ trans('blocks.header.cart') }}</h3>
      <button class="close-cart-button p-2">
        <i class="sicon-cancel-circle text-3xl text-red-600"></i>
      </button>
    </div>

    {# Cart Items #}
    <div class="flex-1 overflow-y-auto">
    </div>
  </div>
</aside>
<style>

  .neyam-cart-aside {
    @apply shadow-xl;
  }

  /* RTL specific styles */
  html[dir="rtl"] .neyam-cart-aside {
    right: 0;
    left: auto;
    transform: translateX(100%);
  }

  html[dir="rtl"] .neyam-cart-aside.show {
    transform: translateX(0);
  }

  /* LTR specific styles */
  html[dir="ltr"] .neyam-cart-aside {
    left: auto;
    right: 0;
    transform: translateX(100%);
  }

  html[dir="ltr"] .neyam-cart-aside.show {
    transform: translateX(0);
  }
</style>
