<div class="w-full text-center md:rtl:text-right md:ltr:text-left">
    <strong class="footer-title mb-4 block font-bold text-[22px] text-[var(--footer-color)] dark:text-[var(--footer-color-dark)]">{{ trans('blocks.footer.pages_links') }}</strong>
    <div class="footer-list w-full grid gap-3 mb-2.5 md:mb-4 text-[var(--footer-color)] dark:text-[var(--footer-color-dark)] {{ (items|length) >= 6 ? 'store-links-items grid-cols-2 ' :'grid-cols-1' }}">
      {% for item in items %}
        <a href="{{ item.url }}" aria-label="{{ item.title }}" name="link {{ item.title }}" role="link" class="block mb-0 text-[14px] lg:text-sm leading-[normal] text-[var(--footer-color)] dark:text-[var(--footer-color-dark)] saji-anime-item">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
