{% if learn %}
<div class="w-full text-center md:rtl:text-right md:ltr:text-left">
    <strong class="footer-title mb-4 block text-base">{{ trans('blocks.footer.menuTitle_two') }}</strong>
    <div class="footer-list w-full grid gap-3 mb-2.5 md:mb-4">
      {% for item in items|slice(4,) %}
        <a href="{{ item.url }}" aria-label="{{ item.title }}" name="link {{ item.title }}" role="link" class="block mb-0 text-[14px] lg:text-sm leading-[normal] saji-anime-item">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>

{% else %}

<div class="w-full text-center md:rtl:text-right md:ltr:text-left">
    <strong class="footer-title mb-4 block text-base">{{ trans('blocks.footer.menuTitle_one') }}</strong>
    <div class="footer-list w-full grid gap-3 mb-2.5 md:mb-4">
      {% for item in items|slice(0,4) %}
        <a href="{{ item.url }}" aria-label="{{ item.title }}" name="link {{ item.title }}" role="link" class="block mb-0 text-[14px] lg:text-sm leading-[normal] saji-anime-item">{{ item.title }}</a>
      {% endfor %}
    </div>
  </div>
{% endif %}
